<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <!-- Define servlets that are included in the example application -->

    <!--
    <servlet>
        <servlet-name>WebIndex</servlet-name>
        <servlet-class>com.covista.traffic.WebIndex</servlet-class>
    </servlet>
    -->

    <servlet>
        <servlet-name>
            servletToJsp
        </servlet-name>
        <servlet-class>
            servletToJsp
        </servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>WebIndex</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>

</web-app>
